/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
@font-face{
    font-family: "title";
    src: url(font/MBCorpoATitleCond-Regular-Web.woff2);
}

@font-face{
    font-family: "benz-font";
    src: url(font/MBCorpoSText-Regular-Web.woff2);
}
body{
    background-color: black;
}
 *{ 
    font-family: "benz-font";
 } 
header{
    width: 100%;
    height: 108px;
 
}
header .container{
    position: relative;
    display: flex;
    margin: 0 auto;
  height: 100%;
    width: 95%;
  
}
header .container a{
    text-decoration: none;
    color: white;
    width: 280px;
    height: 100%;
display: flex;
}

.logo-text{
    font-family: "title";
    font-size: 20px;
    top: 60px;
    left: 135px;
    position: absolute;
}
header .container .top-right{
    display: flex;
    right: 10px;
    position: absolute;
    font-size: 16px;
    top: 10px;
    color: #fff;
    justify-content: center;
    height: 20px;
}
header .container .top-right .information{
    border: 2px solid #fff;
    width: 10px;
margin-right: 10px;
    height: 15px;
    text-align: center;
}

header .container .top-right .left{
    margin-right: 35px;
}

header .container ul{
    display: flex;
    color: #fff;
    top: 50px;
position: absolute;    
right: 0px;
}
@media  (max-width: 922px){
    header .container ul li{
        display: none;
    }
}
header .container ul li{
    margin:20px;
    list-style: none;
}
header .container nav ul i{
    top:50px;
}
.top-photo img{
width: 100%;
height: 100%;
display: block;
    


}
.fix{
    position: fixed;
    width: 40px;
    height: 145px;
    top: 215px;
    right: 0;
    background-color: transparent;
  
}
.car{
    background-color: #141414;
    color:#fff;
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 2; 
   font-size: 20px;
    border-top-left-radius: 3px;

}
.car-fix{
    text-align: center;
    background-color: #141414;
    width: 100%;
    height: 40px;
    color: #fff;
    margin-top: 2px;
    line-height: 2; 
     font-size: 20px;
}
.share{
    margin-top: 2px;
    background-color: #141414;
    width: 100%;
    height: 40px;
    color: white;
    line-height: 2;
    text-align: center;
    font-size: 20px;
    border-bottom-left-radius: 3px;
}
.top-photo{
    width: 100%;
    /* height: 550px; */
/* background-color: green; */
}
.search{
    background-color: #141414;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 90px;
}
#input-search{
    width: 85%;
    height: 35px;
    margin-top: 25px;
    font-size: 20px;
}
.wellcome{
    color: #fff;
    width: 70%;
    font-size: 15px;
    margin-top: 120px;
    margin-left: 90px;
    
    
}
.welcome-text{
 width: 100%;
 height: 350px;
}
.wellcome h1{
    font-size: 27px;
    font-family: "title" !important;
    font-size: 1.5rem;
}
.wellcome p{
    font-size: 13px;
}
.wellcome a{
    color:#00adef ;
    text-decoration: none;
}
/* bring me button */
#bringme{
    background-color: #00adef;
    border: none;
    color: #fff;
    margin-left: 90px;
    margin-top: 40px;
    height: 35px;
    width: 220px;
    font-size: 15px;
    cursor: pointer;
}
#bringme:hover{
    background-color: #0088c6;
}
/* 4-div-channel-list */
.channel-list{
    width: 100%;
    height: 150px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.channel-list div{
    height: 100%;
    width: 275px;
        margin-right: 15px;
        box-sizing: border-box;

}
.channel-list div:hover{
    transition: .3s;
    border-bottom:#00adef  solid 5px;
    cursor: pointer;
}
    .channel-list img{
        width: 100%;
        height:100%
    }
    /* .new-popular-video */

.new-popular-video ul{
    display: flex;
    justify-content: center;
    }
    .new-popular-video ul li{
        list-style: none;
        color: #fff;
        font-size: 14px;
        margin: 35px;
        margin-top: 80px;
        

    }
    .new-popular-video ul li:hover{
        color: #00adef;
        cursor: pointer;
    }
    .main-photo{
        display: flex;
        height: 600px;
        width: 95%;
    }
    .main-photo .inside-amg{
        width: 70%;
    }
    .main-photo .inside-amg img{
        width: 100%;
        height: 90%;
       
    }
    .side {
    width: 20%;
    height: 600px;
    flex-wrap: wrap;
    }
    .side div{
        flex-direction: column;
        width: 100%;
        height: 200px;
    }
    .side img{
        width: 100%;
        height: 100%;
    }
.photo2{
    width: 100%;
    /* height: 195px; */
    display: flex;
    flex-wrap: wrap;
}

.photo2 div{
   flex-basis: 24.8%;
        border: 1px solid black;
}
.photo2 img{
    width: 100%;

}

.photo3{
    display: flex;
    width: 92%;
    /* height: 500px; */
    background-color:transparent;
    margin-top: -5px;
}
.photo3 .left{
    width: 27%;
    /* height: 190px; */
    border: 1px solid black;
}

.photo3 img{
    width: 100%;
    /* height: 100%; */
}
.photo3 .right{
    width: 73%;
}
.photo4{
    width: 100%;
    /* height: 195px; */
    display: flex;
    flex-wrap: wrap;
}
.photo4 div{
    flex-basis: 24.8%;
    border: 1px solid black;
}
.photo4 img{
    width: 100%;
    height: 100%;
}
/* show more button */
.button{
    width: 100%;
    height: 40px;
   text-align: center;
    margin-top: 20px;
}
.button button{
    margin: 0 auto;
    width: 140px;
    height: 35px;
    background-color: #202020;
    border: 1px solid #202020;
    color:#555555;
    font-size: 16px;
   
}
.button button:hover{
    transition: .5s;
    color: #fff;
    cursor: pointer;
}
/* discription */
.discripton{
    width: 95%;
    color: #fff;
    font-size: 13px;
    text-align: left;
    margin: 0 auto;
    margin-top: 150px;

}
/* more topic-shopping-all about cars-discover me- titles */
/* @media (max-width: 922px){
    .link{  display: block;
} */
.link{
    display: flex;
    width: 98%;
    color: #fff;
    margin-top: 40px;
    margin-left: 10px;
}
.link div{
   width: 25%;
}
.link div .title{
    vertical-align: inherit;
    font-family: "title" !important;
    font-size: 35px;
    width: 100%;
    height: 75px;
       border-bottom: 1px #252525 solid;
 }
 .link ul{
    display: block;
    margin-top: 25px;
}
.link ul li{
    list-style: none;
    margin: 0;
  color:#999;
  line-height: 22px;
  
}
.link ul li:hover{
    color: #00adef;
}


/* stay inform tilte */
.stay-informed{
    width: 95%;
    height: 80px;
    color: #fff;
    font-size: 2rem;
    border-bottom: 1px solid #252525;
    margin: 0 auto;
    font-family: "title" !important;
}
/* follow-us text under stay informed */
.follow-us{
    width: 95%;
    height: 40px;
       color:#999;
   margin: 0 auto;
   font-size: 14px;
   line-height: 80%;
   margin-top: 45px;
}
.social-media-logo{
    width: 95%;
    margin: 0 auto;
    height: 40px;
    border-bottom: 1px solid #252525;
}
/* amg-dain]mler/smart */
.footer-logo{
    display: flex;
    width: 95%;
    height: 80px;
    border-bottom: 1px solid #252525;
    margin: 0 auto;
       margin-top: 40px;
 
}

.footer-logo div{
    width: 15%;
    height: 100%;
    margin: 0 auto;
 
    
}
/* This is the International website of Mercedes-Benz AG. Visitors from the U.S., please visit our U.S. website www.mbusa.com. */
.us-visitor{
    margin-top: 30px;
    width: 95%;
    margin: 0 auto;
    color:#999;
    font-size:14px;
    line-height: 3;
}
.us-visitor span{
    color:#fff;
}
.us-visitor span:hover{
    color: #00adef;
}
.spacer{
    width: 100%;
    height: 40px;
}
.footer{
    width: 100%;
}
.footer .container{
    display: flex;
  }
.footer .container .left{
    text-align: center;
    width: 75px;
    height: 15px;
    color: #00adef;
    border-right: 1px solid #00adef;
}
.footer .container .right{
    width: 75px;
    text-align: center;
    color: #fff;
}
.footer .container ul{
    display: flex;
 

}
.footer .container ul li{
    margin: 10px;
}
.footer .container .navigation{
    margin-left: 100px;
}
.footer .container .navigation nav ul li{
    color: #555555;
}.footer .container .navigation nav ul li:hover{
    color: #00adef;
}
.footer .container .top{
    position: absolute;
    color: #555555;
    right: 0;
}
.footer .container .top a{
    text-decoration: none;
    color: #555555;
}
.footer .container .top a:hover{
color: #00adef;
}